@model System.Collections.Generic.List<InStock.Database.Sprzedaz>

@{
    ViewData["Title"] = "Index";
}

<h1>Sprzedane</h1>

<p id="date"></p>
<script>
    document.getElementById("date").innerHTML = Date();
</script>


<style>
    table {
        width: 100%;
        border-color: #000000;
    }

    th,
    td {
        padding: 7px 10px 10px 10px;
    }

    th {
        text-transform: uppercase;
        font-size: 90%;
        text-align: center;
    }

    tr.even {
        background-color: #efefef;
    }

    tr.hover {
        background-color: #c3e6e5;
    }
</style>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th style="vertical-align: middle">Data</th>
            <th style="vertical-align: middle">Kod</th>
            <th style="vertical-align: middle">Nazwa</th>
            <th style="vertical-align: middle">Ilosc</th>
            <th style="vertical-align: middle">Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sprzedane in Model)
        {
            <tr>
                <td>@sprzedane.Data</td>
                <td>@sprzedane.Produkt.Kod</td>
                <td>@sprzedane.Produkt.Nazwa</td>
                <td>
                    <div>
                        Rozmiar XS: @sprzedane.RozmiarXS
                    </div>
                    <div>
                        Rozmiar S: @sprzedane.RozmiarS
                    </div>
                    <div>
                        Rozmiar M: @sprzedane.RozmiarM
                    </div>
                    <div>
                        Rozmiar L: @sprzedane.RozmiarL
                    </div>
                    <div>
                        Rozmiar XL: @sprzedane.RozmiarXL
                    </div>
                </td>
                <td>@sprzedane.Produkt.Cena</td>
            </tr>
        }
    </tbody>
</table>
